#delclinibtn{
    background-color: rgb(254, 130, 130);
    width: 100px;
    color: black;
    font-weight: bold;
    margin: 5px;
}

#delclinibtn:hover{
    background-color: rgb(216, 0, 0);
    color: white;    
}
